<!DOCTYPE html>
<html lang="en" lang="en">

<head>
    <title>app</title>
</head>

<body>
    <div class="center">
    <table >
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>address</th>
                <th>delete</th>
                <th>update</th>
            </tr>
        </thead>
        <tbody>
        {%for i in data%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.address}}</td>
                <td><a href="/delete/{{i.id}}/">delete</a></td>
                <td><a href="/update/{{i.id}}/">update</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class='center'><a href="/create/">create</a></div>

</body>
<style>
.center {
    display: flex;
    direction: column;
    justify-content: center;
}
</style>

</html>