<!DOCTYPE html>
<html lang="en" lang="en">

<head>
    <title>app</title>
</head>

<body>
    <div class="center">
    <form method="post" action="/do_update/">
{% csrf_token %}
            <div class="col">
                <div class="row">
                    <div class="lable">
                        id:
                    </div> <input type="text" name="id" value="{{user.id}}"/>
                </div>
                <div class="row">
                    <div class="lable">
                        name:
                    </div> <input type="text" name="name" value="{{user.name}}"/>
                </div>
                <div class="row">
                    <div class="lable">
                        age:
                    </div> <input type="text" name="age" value="{{user.age}}"/>
                </div>
                <div class="row">
                    <div class="lable">
                        address:
                    </div> <input type="text" name="address"value="{{user.address}}" />
                </div>
                <div class="row center">
                    <div class="row">
                        <input type="submit" value="update"/>
                    </div>
    
            </div>


        </div>
    </form>
</div>
</body>
<style>
    .center {
        display: flex;
        direction: column;
        justify-content: center;
    }
    .lable {
        text-align: center;
        width: 4rem;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
</style>

</html>